*{
	font-family: sans-serif;
}

.title{
	font-size: 50px;
}

.header{
	font-size: 20px;
}

.title_container{
	width: 100%;
	text-align: center;
}

table{
	position: relative;
	border-radius: 1%;
	color: #FFFFFF;
	background-color: black;
	opacity: 0.2;
	padding: 10px;
}

td{
	padding: 10px;
}

table:hover{
	opacity: 1;
	transition: 0.5s ease-in-out;
}

input{
	border-radius: 10%;
}

.primary{
	color: red;
}