/*start of navbar css*/

ul li{
    list-style-type: none;
}

ul.nav_holder{
    padding-left: 0px;
    width: 12vw;
} 

ul.nav_holder li:first-child{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px; 
}

ul.nav_holder li:last-child{
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px; 
}

ul.nav_holder li{   
    display: block;
    padding: 15px;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    transition: 1s;
}

ul.nav_holder > li:hover{
    background: #FFCE00;
    color: #0000;
}

ul.nav_holder a{   
    text-decoration: none; 
    color: #FBFF03; 
}

li.header_nav > p{
    color: #FBFF03;
    margin: 0;
}

li.header_nav {
    border-bottom: 1px solid #FBFF03;
}

ul.login{
    padding-left: 0px;
    color: #FBFF03;
}

ul.login input{
    width: 100%;
    box-sizing: border-box;
    color: #FBFF03;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Orbitron', sans-serif;        
    border: 2px solid #FBFF03;
    border-radius: 4px;
    background-color: #0000;
}

/*end of navbar css*/

/*body*/

html{
    background-image: url(2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: hsl(0, 0%, 5%);
}

body{
    font-family: 'Orbitron', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    color: hsl(50, 100%, 50%);
}

div.panel.panel-default.panel-list{
    padding: 10px;
    text-align: center;
    width: 250px;
}

ul.list-group{
    padding: 0;
}

div.panel-heading.panel-heading-dark{
    background-color: hsl(0, 0%, 20%);
    padding: 1px;
}

li.list-group-item{
    padding: 10px;
    text-decoration: none;
    background-color: hsl(0, 0%, 30%);
    transition: 1s;
}

a{
    text-decoration: none;
    color: beige;
}

li.list-group-item:hover{
    background-color: hsl(50, 100%, 50%);
    
}

div.col-md-4{
    width: 260px;
    float:left

}


div.container{
   clear: both;
}

div.panel-body{
    float: right;
}

div.row.footer > div.container{
    padding: 100px;
}
