//start of navbar css

ul li{
    list-style-type: none;
}

ul.nav_holder{
    padding-left: 0px;
    width: 12vw;
} 

ul.nav_holder li:first-child{
    border-top-right-radius: 13px;
    border-top-left-radius: 13px; 
}

ul.nav_holder li:last-child{
    border-bottom-right-radius: 13px;
    border-bottom-left-radius: 13px; 
}

ul.nav_holder li{   
    display: block;
    padding: 15px;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    transition: 1s;
}

ul.nav_holder > li:hover{
    background: #FFCE00;
    color: #0000;
}

ul.nav_holder a{   
    text-decoration: none; 
    color: #FBFF03; 
}

li.header_nav > p{
    color: #FBFF03;
    margin: 0;
}

li.header_nav {
    border-bottom: 1px solid #FBFF03;
}

ul.login{
    padding-left: 0px;
    color: #FBFF03;
}

ul.login input{
    width: 100%;
    box-sizing: border-box;
    color: #FBFF03;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Orbitron', sans-serif;        
    border: 2px solid #FBFF03;
    border-radius: 4px;
    background-color: #0000;
}

//end of navbar css

