body{
    padding-top: 75px;
    background-image: url("2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;    
    background-position: center;
    background-color: antiquewhite; 
}

@font-face {
    font-family: cursive;
    font-weight: bold;
}

h3{
    font-family: "Courier New", cursive;
    font-weight: bold;
    text-align: center:
}
div {
    font-family: "Georgia", serif;
    text-align: center:
}

.panel-title {
    text-align: center;
}

ul{
    text-align: center;
}
.sidenavbar a{
	color: blue;
}

.cart-block{
	background: #333;
	color: #fff;
	padding: 10px;
	margin-bottom: 20px;
    background-color: mediumaquamarine;
}

.panel-list a{
	padding: 4px;
	font-size: 18px;
}

.panel-list .panel-heading h3{
	padding: 4px;
	font-size: 18px;
    background-color: skyblue;
}
.panel-heading-green{
    text-align: center;
}
.panel-heading-dark{
	text-align: center:
}
.game{
	display: relative;
}
.game-title{
	text-align: center;
	padding: 30px;
}
.game-price{
	position: absolute;
	text-align: center;
	bottom:200px;
	right:60px;
	background: green;
	color: white;
	padding: 5px;
	font-size: 22px;
}
.game img{
	width: 100%;
	
}
.game-add{
	margin: 15px auto 20px auto;
	width: 100%;
	text-align: center;
}
.details-price{
	font-size: 25px;
	margin-bottom: 20px;
}
.details img{
	width: 100%;
}
.footer{
	background: blue;
	height: 70px;
	color: wheat;
	text-align: center;
	padding: 20px;
}