/*start of navbar css*/

/*holder for the contents of nav bar*/
.nav_holder {
  margin-top: 2vw;
  overflow: hidden;
  background-color: #FFC43B;
  border-radius: 1vw;
}

/*Links in the navbar*/
.nav_holder a {
  float: left;
  text-decoration: none;
  display: block;
  color: #000000;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 1.2vw;
}

/*When a user hover the links*/
.nav_holder a:hover {
  background-color: #000000;
  color: #FFC43B;
  transition: 0.6s;
}

/*Determine what is the active link on the navbar*/
.nav_holder a:active {
  background-color: #000000;
  color: #FFC43B;
}

/*The search bar*/
.nav_holder input[type=text] {
  float: right;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  margin-top: 0.5vw;
  margin-right: 0.5vw;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 0.8vw;
  background-color: #FFC43B;
}

/*When a user hover the search bar*/
.nav_holder input[type=text]:hover {
 background-color: #000000;
 transition: 0.5s;
}

/*Put color on the placeholder on the search bar*/
::-webkit-input-placeholder {
 color:#000000;
}

/*When a user hover the search bar the color of the placeholder will change*/
#search:hover::-webkit-input-placeholder{
 color:#FFC43B;
}

/*Color of the inputted text in the search bar*/
input{
 color: #FFC43B;
}

/*If the search box click*/
#search:focus {
 outline: 0;
 background-color: #000000;
}

@media screen and (max-width: 600px) {	
  body{
	margin:0%;
  }
  
  .nav_holder {
	overflow: hidden;
	width: 100%;
  }

  .nav_holder a {
    float: none;
    display: block;
	width: 100%;
    padding: 15px;
    text-align: center;
	font-size: 25px;
  }
  
  .nav_holder input[type=text] {
    float: none;
    display: block;
    width: 100%;
    padding: 15px;
	border-radius: 0vw;
	text-align: center;
	font-size: 25px;
  }
  
  .nav_holder input[type=text] {
    border: none;  
  }
}

/*end of navbar css*/

/*start of the body*/
html{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000000;
}

body{
    font-family: 'Orbitron', sans-serif;
    margin-left: 7%;
    margin-right: 7%;
    color: #000000;
	justify-content:center;
}

.cart{
	margin-top: 1vw;
    overflow: auto;
	border-radius: 0.5vw;

}

.cart th,td{
	padding: 0.5vw;
	border-bottom:3px solid #000000;
	border-right:3px solid #000000;
	border-radius: 0.5vw;
	background:#FFC43B;
}	

/*customize cart*/

/*end of the body*/



div.panel.panel-default.panel-list{
    padding: 10px;
    text-align: center;
    width: 250px;
}

ul.list-group{
    padding: 0;
}

div.panel-heading.panel-heading-dark{
    background-color: hsl(0, 0%, 20%);
    padding: 1px;
}

li.list-group-item{
    padding: 10px;
    text-decoration: none;
    background-color: hsl(0, 0%, 30%);
    transition: 1s;
	list-style-type:none;
}

a{
    text-decoration: none;
    color: beige;
}

li.list-group-item:hover{
    background-color: hsl(50, 100%, 50%);
    
}

h3{
    text-align: center;
}

.panel-body .col-md-4{
width: 150px; 
height: 244px;
padding: 30px;
}

.panel-body .col-md-4 img{
	width:100%;
}

.panel-body{
    width: 100%;
}

div.col-md-4{
    width:270px;
    float:left;
}
.game-price{
    position: relative;
   top:200px; 
   left: 0; 
   width: 100%; 
	background-color:hsla(42, 100%, 62%, 0.61);
	font-size:30px;
	color:white;
	text-align:center;
}
div.col-md-8{
    float: left;
    width: 1000px;
    padding: 10px;
}

div.container{
   clear: both;
}

div.row.footer > div.container{
    padding: 10px;
    width: 100%;
}